.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .app-header {
    text-align: center;
    background-color: #5a844f; 
    color: white;
    padding: 15px;
    font-family: Arial, sans-serif;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .app-header h1 {
    margin: 0;
    font-size: 24px;
  }
  
  .app-header p {
    margin-top: 5px;
    font-size: 16px;
    font-weight: lighter;
  }